<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%highlight(%-5level)] [%X{xFowardedFor}] [%X{sessionId}] [%X{tranId}] [%X{clientId}] [%X{screenId}] [%t]%msg %ex %n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>