<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect" layout:decorator="layout">
<head>
	<title>Secured Content</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Secured Page</h1>
		<p>This page is secured using Spring Boot, Spring Session, and Spring Security.</p>

		<p>Your current session id is <span id="session-id" th:text="${#httpSession.id}"></span></p>

		<table class="table table-stripped">
			<tr>
				<th>Id Suffix</th>
				<th>Location</th>
				<th>Created</th>
				<th>Last Updated</th>
				<th>Information</th>
				<th>Terminate</th>
			</tr>
			<tr th:each="s : ${sessions}">
				<td th:text="${s.id.substring(30)}"></td>
				<td></td>
				<td th:text="${#dates.format(new java.util.Date(s.creationTime),'dd/MMM/yyyy HH:mm:ss')}"></td>
				<td th:text="${#dates.format(new java.util.Date(s.lastAccessedTime),'dd/MMM/yyyy HH:mm:ss')}"></td>
				<td></td>
				<td>
				</td>
			</tr>

		</table>
	</div>
</body>
</html>